*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: violet;
}
h1{
    color: aliceblue;
    font-family: "Parisienne", serif;
    font-weight: 400;
    font-style: normal;
}
p{
    text-decoration: underline;
}
a{
    text-decoration: none; 
    background-color: rgb(109, 35, 178);
    color: white;

    display: inline-block;
    padding: 10px 30px;
    border-radius: 25px;
}
.ball{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: chartreuse;
    border: 3px solid black
}
.text-important{
    font-size: 2rem;
    background-color: yellow;
    font-style: oblique;/*letras en italica*/
}
#tituloWeb{
    font-family: "Parisienne", serif;
    font-weight: 400;
    font-style: normal;
}