*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Padre */
.container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;

    width: 600px;
    height: 600px;
    background-color: rgb(75, 18, 80);
    border: 3px solid black;
    margin: 40px auto;
}

/* Hijo */
.ball{
    width: 100px;
    height: 100px;
    background-color: rgb(251, 255, 0);
    border-radius: 50%;
    border: 3px solid black;
    color: white;
}