*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: #151515;
    color: #fff;
    font-family: sans-serif;
}

header{
    background-color: rgb(52, 52, 52); 
    position: sticky;
    top: 0;
    z-index: 2;
    
}
.container{
    max-width: 900px;
    margin: auto;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header-content ul{
    display: flex;
    gap: 10px;
}
/*Seccion welcome*/
.welcome-content{
    display: flex;
    padding: 50px 0;
}
.col-1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 2;
}
.col-1 h3{font-size: 3rem;}
.col-1 h3 span{
    text-decoration: underline;
    text-decoration-color: aquamarine;
}
.col-1 a{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration-color: aquamarine;
}
.col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(79, 78, 80);
    flex: 1;
    overflow: hidden;
}
.img-pizza, .img-hoja,.img-tomato{
    position: absolute;
}
.img-pizza{
    filter: blur(2px);
}
.img-tomato{
    width: 80%;
    right: -30px;
    top: 0;
}
.img-hoja{
    width: 40%;
    left: 0;
    transform: rotate(-130deg);
}
/*Seccion productos*/
#productos{
    background-color: lightgrey;
}
#productos> .container{
    background-color: silver;
}
.productos-conteiner{
    display: flex;
    gap: 10px;
    padding: 20px;
}
/*.productos-conteiner:nth-child(1){
    background-color: blue;
}
*/
.productos-card{
    flex: 1 ;
    position: relative;
    border-radius: 30px;
    overflow: hidden;/*bordes*/
    
}
.productos-card:hover .card-hover{
    opacity: 2;
}
/*
.productos-conteiner div:nth-child(1){
    background-color: blue;
}
    
.productos-conteiner div:nth-child(2){
    background-color: tomato;
}
    
.productos-conteiner div:nth-child(3){
    background-color: green;
}
*/
.productos-card img{
    width: 100%; 
    height: 100%;
}
    
.card-hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438) !important;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: .5s;
}

.card-hover-header{
    display: flex;
    padding: 15px ;
    justify-content: space-between;
    align-items: center;
}
.card-hover-header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-guardar{
    background-color: rgb(235, 46, 13);
    color: white;
    padding: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.card-hover-footer{
    padding: 10px ;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.card-hover-footer i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

}
/*Primer Breakpoint*/
@media screen and (max-width: 800px){
    body{
      /*  background-color: rgb(124, 172, 172);*/
    }

    .welcome-content{
        flex-direction: column-reverse;
    }
    .col-2{
       /* background-color: rebeccapurple;*/
        flex: none;
        height: 300px;
    }
    .img-pizza, .img-hoja,.img-tomato{
        width: 230px;
    }
    .productos-card{
        width: 48%;
        flex: none;

    }
    .productos-conteiner{
        flex-wrap: wrap;
    }
}
/*Segundo Breakpoint mobiles*/
@media screen and (max-width: 576px){
    body{
       /* background-color: blue;*/
    }
.productos-card{
    flex: none;
    width: 80%;
    margin: auto;
}
}
