*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #a5daf0;
    color: #fff;
    font-family: sans-serif;
}

header{
    background: rgb(75,74,83);
    background: radial-gradient(circle, rgb(56, 102, 161) 19%, rgb(33, 80, 182) 55%, rgb(13, 31, 189) 92%);
    position: sticky;
    top: 0;
    z-index: 2;
    
}
header ul{
    list-style: none;
}
.container{
    max-width: 900px;
    margin: auto;
}
/*Menu*/
.container-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}
.container-menu h2{
    font-size: 4vh;
}
.skills-content{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
    padding: 30px;
}
.skills-content > div{
    display: grid;
    background-color: #ca9e9e36;
    row-gap: 5px;
    padding: 5%;
    border-radius: 30px;
}
.skills-content h1{
    text-align: center;
}
.skills-content ul{
    margin-left: 7%;
}
.especialidades{
    grid-row: 1/3;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header-content ul{
    display: flex;
    gap: 10px;
}
/*Seccion welcome*/
.welcome-content{
    display: flex;
    padding: 50px 0;
}
.col-1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 2;
}
.col-1 h3{font-size: 3rem;}
.col-1 h3 span{
    text-decoration: underline;
    text-decoration-color: rgb(247, 250, 249);
}
.col-1 a{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration-color: rgb(246, 247, 246);
}
.col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(40, 90, 197, 0.575);
    flex: 1;
    border-radius: 15px;
    height: 30vh;
    overflow: hidden;
}
.img-pizza, .img-hoja,.img-tomato{
    position: absolute;
}

.img-tomato{
    width: 30%;
    right: 20px;
    
}
.img-hoja{
    width: 50%;
    left: 0;
    transform: rotate(-10deg);
}
/*Seccion productos*/
#productos{
    background-color: rgb(39, 97, 151);
}
#productos> .container{
    /*
    background-color: silver;
*/}
.productos-conteiner{
    display: flex;
    gap: 10px;
    padding: 20px;
}
/*.productos-conteiner:nth-child(1){
    background-color: blue;
}
*/
.productos-card{
    flex: 1 ;
    position: relative;
    border-radius: 30px;
    overflow: hidden;/*bordes*/
    
}
.productos-card:hover .card-hover{
    opacity: 2;
}
/*
.productos-conteiner div:nth-child(1){
    background-color: blue;
}
    
.productos-conteiner div:nth-child(2){
    background-color: tomato;
}
    
.productos-conteiner div:nth-child(3){
    background-color: green;
}
*/
.productos-card img{
    width: 100%; 
    height: 100%;
}
    
.card-hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438) !important;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: .5s;
}

.card-hover-header{
    display: flex;
    padding: 15px ;
    justify-content: space-between;
    align-items: center;
}
.card-hover-header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-guardar{
    background-color: rgb(235, 46, 13);
    color: white;
    padding: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.card-hover-footer{
    padding: 10px ;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.card-hover-footer i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

}

/*Primer Breakpoint*/
@media screen and (max-width: 800px){
    body{
      /*  background-color: rgb(124, 172, 172);*/
    }

    .welcome-content{
        flex-direction: column-reverse;
    }
    .col-2{
       /* background-color: rebeccapurple;*/
        flex: none;
        height: 300px;
    }
    .img-pizza, .img-hoja,.img-tomato{
        width: 230px;
    }
    .productos-card{
        width: 48%;
        flex: none;

    }
    .productos-conteiner{
        flex-wrap: wrap;
    }
}
/*Segundo Breakpoint mobiles*/
@media screen and (max-width: 576px){
    body{
       /* background-color: blue;*/
    }
.productos-card{
    flex: none;
    width: 80%;
    margin: auto;
}
.skills-content{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;

}
.skills-content > div{
    border-radius: 10px;
}

.skills-content h1{
    font-size: medium;
}
.skills-content ul{
    font-size: small;
    margin-left: 15%;
}
}
